#landing-page {
  min-height: 100vh;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#landing-page > section {
  width: 90%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  /* min-height: 60vh; */
}

#landing-page-1 {
  border-radius: 8px;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--primary); */
  border: none;
}

#landing-page-1 > * {
  border-radius: inherit;
}

#landing-page-1-1 {
  background-color: var(--primary);
  width: 60%;
  height: 100%;
}

#landing-page-1-2 {
  background-color: var(--tertiary);
  width: 35%;
  height: 100%;
}

#landing-page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 70vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* border: thin solid black; */
}

#landing-page-2 > * {
  width: 100%;
  /* border: thin solid black; */
}

#landing-page-2-head {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#landing-page-2-head > * {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing-page-2-head > h2 {
  font-size: 2.5rem;
}

#landing-page-2-head > p {
  font-size: 1rem;
}

#landing-page-2-body {
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: thin solid black; */
}

#landing-page-2-body > span {
  width: 13%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 5px;
}

#landing-page-2-foot {
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

#landing-page-2-foot > * {
  height: 100%;
}

#landing-page-2-foot > :first-child {
  width: 30%;
  background-color: var(--tertiary);
  border-radius: inherit;
}

#landing-page-2-foot > :last-child {
  width: 65%;
  border-radius: inherit;
  background-color: var(--primary);
}

#landing-page-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}

#landing-page-3 > :first-child {
  height: 100%;
  width: 20%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#landing-page-3 > :last-child {
  height: 100%;
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#landing-page-3 > :last-child > * {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#landing-p3-head {
  height: 15%;
  background-color: white;
}

#landing-p3-body {
  height: 80%;
}

#landing-p3-body > span {
  height: 100%;
  width: 23%;
  background-color: white;
}

#landing-page-4 {
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

#landing-page-4 > span {
  width: 48%;
  height: 100%;
  border-radius: inherit;
}

#landing-page-4 > :first-child {
  background-color: var(--tertiary);
}

#landing-page-4 > :last-child {
  background-color: var(--fourth);
}

#landing-page-5 {
  border: thin solid black;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#landing-page-5 > div {
  border: thin solid black;
  width: 48%;
}

#landing-page-5 > :first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}

#landing-p5-cont1 > span {
  width: 95%;
  border: thin solid black;
}

#landing-p5-c1-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#landing-p5-c1-head > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border: thin solid black;
}

.landing-p5-c1 {
  width: 95%;
  height: 16vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

#landing-page-5 > :last-child {
  height: 100%;
}

#landing-page-6 {
  width: 100%;
  border: thin solid black;
  height: 60vh;
  background-image: url("../../assets/image2.jpg");
  background-position: center;
  background-size: cover;
}

#landing-page-6 > div {
}

#landing-page-1 {
}
#landing-page-1 {
}
