#footer {
  width: 100%;
  height: 50vh;
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer > div {
  width: 90%;
  height: 85%;
  border: thin solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer > span {
  width: 90%;
  height: 15%;
  border: thin solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
